.footer {
  position: relative;
  padding: 20px 30px;
  background-color: $globalColor;
}

.footer-social {
  @include flexCentral();
  gap: 25px;
  margin-bottom: 10px;
}

.footer__icon {
  fill: $colorMainLight;
  transition: fill $transitionBasic;
}

.footer-social__link:hover .footer__icon,
.footer-social__link:focus .footer__icon {
  fill: rgb(0, 191, 255);
}

.footer-copyright {
  @include flexCentral();
}

.footer-copyright__text {
  font-size: 16px;
  line-height: 1.62;
  color: $colorMainLight;
}

@media (min-width: 768px) {
  .footer {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-copyright__text {
    font-size: 18px;
  }
}

@media (min-width: 1360px) {
  .footer {
    max-width: 1360px;
  }
}
