.page-header {
  position: absolute;
  top: 27px;
  left: 0;
  width: 100%;
}

@media (min-width: 320px) {
  .header-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 17px;
  }
}
