.owerlay__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.owerlay-social {
  opacity: 0;
  position: absolute;
  transition: background-color $transitionBasic, opacity $transitionBasic;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #0000007d;
  @include flexCentral();
  gap: 25px;
}

.team-list__box:hover .owerlay-social,
.team-list__box:focus .owerlay-social {
  opacity: 1;
}

.owerlay-box {
  padding: 15px;
  width: 100%;
  @include flexCentral();
  flex-direction: column;
}
