.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  color: antiquewhite;
  font-size: 30px;
}

.swiper-button-next {
  right: 10px;
  top: 10%;
}

.swiper-button-prev {
  left: 70%;
  top: 10%;
}
