.team {
  padding: 50px 20px 30px 20px;
}

.team-list__box {
  position: relative;
}

.team__icon {
  fill: $colorMainLight;
  transition: $transitionBasic;
}

.team__link:hover .team__icon,
.team__link:focus .team__icon {
  fill: rgb(0, 191, 255);
  transform: scale(1.3);
}

.team-list__name {
  font-weight: 400;
  font-size: 23px;
  line-height: 1.26;
  text-align: center;
  color: $globalColor;
  margin-bottom: 11px;
}

.team-list__profession {
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: $globalColor;
}

@media (min-width: 768px) {
  .team {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  .team-list {
    display: flex;
    gap: 20px;
  }

  .team-list__name {
    font-size: 25px;
  }

  .team-list__profession {
    font-size: 18px;
  }
}

@media (min-width: 1360px) {
  .team {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
  }
}
